Scrapy==2.4.1
scrapyd==1.2.1

sqlalchemy==1.3.23

requests==2.23.0

psycopg2-binary==2.8.6

{%- if cookiecutter.use_celery_pipeline == "y" %}
redis==3.4.1
celery==4.4.0  # pyup: < 5.0  # https://github.com/celery/celery
{%- endif %}